@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "ModifyUsersInRole";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h1>Modify Users In Role</h1>
<form asp-action="ModifyUsersInRole" asp-controller="Account" method="post">
    <div class="card">
        <div class="card-header">
            Modify Users in this Role
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                @Html.HiddenFor(m=>Model[i].UserId)
                // => we call it hidden because we need it at the IActionResult [HttpPost] type
                @Html.HiddenFor(m=>Model[i].UserName)
                // => But not here

                <input asp-for="@Model[i].IsSelected" />
                @Model[i].UserName <br />
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-action="RolesList" asp-controller="Account" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>